{% load static %}

<div class="mb-3 text-bg-light">
    {% for cart in carts %}
        <ul class="list-group list-group-flush">
            <li class="">
                <div class="row text-center align-items-center">
                    <!-- Изображение товара -->
                    <div class="col-2 p-0">
                        <img src="{{ cart.product.image.url }}" alt="{{ cart.product.name }}"
                             width="100" height="100" class="img-fluid rounded">
                    </div>
                    <!-- Название и управление количеством -->
                    <div class="col-4 p-0 text-start">
                        <h5 class="mont-reg">{{ cart.product.name }}</h5>
                        <div class="input-group mt-2">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-dark btn-sm decrement"
                                        data-cart-id="{{ cart.id }}"
                                        data-cart-change-url="{% url "cart:cart_change" %}">
                                    {% csrf_token %}
                                    -</button>
                            </span>
                            <input type="text" class="form-control number" value="{{ cart.quantity }}" readonly>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-dark btn-sm increment"
                                        data-cart-id="{{ cart.id }}"
                                        data-cart-change-url="{% url "cart:cart_change" %}">
                                    {% csrf_token %}
                                    +</button>
                            </span>
                        </div>
                    </div>
                    <!-- Стоимость -->
                    <div class="col-3 p-0 mont-reg">
                        <p>x {{ cart.product.sell_price }} =</p>
                        <strong>{{ cart.products_price }} ₽</strong>
                    </div>
                    <!-- Удалить товар -->
                    <div class="col-3 p-0">
                        <a href="{% url "cart:cart_remove" %}" class="remove-from-cart"
                           data-cart-id="{{ cart.id }}">
                            {% csrf_token %}
                            <img class="mx-1" src="{% static "deps/icons/trash.svg" %}"
                                 alt="Catalog Icon" width="24" height="24">
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    {% endfor %}
</div>
<div class="mb-3">
    <div class="">
        <p class="float-left">Итого <strong>{{ carts.total_quantity }}</strong> товар(а) на сумму</p>
        <h4 class="float-left"><strong>{{ carts.total_price }} ₽</strong></h4>
    </div>
</div>
{% if carts and not order %}
    <div class="d-flex justify-content-center align-items-center">
        <a class="btn-buy mont-reg text-center text-decoration-none" href="{% url "orders:create_order" %}">
            Оформить заказ
        </a>
    </div>

{% endif %}
