{% load static %}

<header class="header d-flex justify-content-between align-items-center">
    <div class="logo"><img src="/static/img/logo.svg" height="50"></div>
    <nav class="d-flex flex-row">
        {% if user.is_authenticated %}
{#            <a class="nav-link" href="{% url 'users-cart' %}">корзина</a>#}
            {% if user.is_superuser or user.is_staff %}
                <a class="nav-link" href="{% url 'admin-panel:user_list' %}">пользователи</a>
                <a class="nav-link" href="{% url 'admin-panel:backup' %}">бэкап</a>
                <a href="{% url 'admin-panel:recoverbackup' %}" class="nav-link">восстановление из бэкапа</a>
                <form class="nav-link" action="{% url 'admin-panel:open_log_file' %}" method="get">
                    <button type="submit">Открыть logs.log</button>
                </form>
            {% endif %}
        {% endif %}
        {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'manager-panel:category_list' %}">категории</a>
            <a class="nav-link" href="{% url 'manager-panel:product_list' %}">продукты</a>
            <a class="nav-link" href="{% url 'manager-panel:stock_list' %}">запасы</a>
            <a class="nav-link" href="{% url 'manager-panel:brand_list' %}">бренды</a>
        {% endif %}
        <div class="user-icon">
            <a class="nav-link" id="profile-icon">
                <img src="/static/img/PersonCircle.svg" height="30" alt="User Icon" class="rounded-circle" width="30">
            </a>
        </div>
    </nav>
</header>

<!-- Модальное окно -->
<div class="modal" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="infoModalLabel">Информация о профиле</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Никнейм: {{ user.username }}</p>
                <p>Email: {{ user.email }}</p>
                <p>{{ user.first_name }}</p>
                <p>{{ user.last_name }}</p>
                <p>Роль: {% if user.is_superuser %}Администратор{% else %}Менеджер{% endif %}</p>
            </div>
            <div class="modal-footer">
{#                <a class="btn_modal text-decoration-none btn_text" href="{% url 'adupdate_user' user.pk %}">изменить#}
{#                    данные</a>#}
                <a class="nav-link" href="{% url 'user:logout' %}">выйти</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<!-- Скрипт для открытия модального окна -->
<script>
    document.getElementById('profile-icon').addEventListener('click', function () {
        $('#infoModal').modal('show');
    });
</script>

<!-- Подключите Bootstrap CSS и JS, если еще не сделано -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
