@font-face {
	font-family: 'Montserrat-Light';
	src: url(fonts/Montserrat-Light-b26ae1084d6eb27fced8f349006e778d.ttf) format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
}