@font-face {
	font-family: 'Montserrat-Black';
	src: url(fonts/Montserrat-Black-df5b910f5b239815e825648aaed716af.ttf) format('truetype');
	font-weight: 900;
	font-style: normal;
	font-display: auto;
}