@font-face {
	font-family: 'Montserrat-Medium';
	src: url(fonts/Montserrat-Medium-03a20c4eef28f4f8b95e87af3a363180.ttf) format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
}